<div class="container">
    <h1>Add User to <%= @season.name %> Season</h1>
    <%= form_with(url: "/seasons/#{@season.id}/add_user", method: :post) do |form| %>
        <%= form.select(:user, options_from_collection_for_select(@users, :id, :email), {}, { class: "form-select" }) %>
        <%= form.submit "Add User", class: "btn btn-primary" %>
    <% end %>
</div>