<h2><%= @season.name %></h2>

<div class="row">
    <div class="col">
        <p>Start Date: <%= @season.start_date %></p>
        <p>Type: <%= @season.season_type %></p>
        <p>Games Per Week: <%= @season.games_per_week %></p>
    </div>
</div>