<div class="admin row">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Admin Controls</h2>
				<table class="table">
					<thead>
						<th>Seasons</th>
					</thead>
					<tbody>
						<% Season.all.each do |admin_season| %>
							<tr>
								<td><%= link_to admin_season.name, admin_season %></td>
							</th>
						<% end %>
					</tbody>
				</table>
				<div>
					<%= link_to "Create New Season", new_season_path, class: "btn btn-primary" %>
				</div>
			</div>
		</div>
	</div>
</div>