<div id="current-week" class="col-12">
    <div class="card">
        <div class="card-body fw-bold">
            Current Week #<%= weeks = season.start_date.step(Date.today, 7).count %>
        </div>
    </div>
</div>