<% @season.length_in_weeks.times do |week_index| %>
    <% week_number = week_index + 1%>
    <tr id="week<%= week_number %>" class="week-counter fw-bold">
        <td></td>
        <td class="text-center">Week <%= week_number %></td>
        <td></td>
    </tr>
    <% @games = Game.includes(:game_time).where(week: week_number).where('away_team_id=? OR home_team_id=?', current_user.id, current_user.id).where.not(game_times: {id: nil}).order(:date_time).each do |game| %>
        <%= render partial: 'row', locals: { game: game } %>
    <% end %>
    <% @games = Game.includes(:game_time).where(week: week_number).where('away_team_id=? OR home_team_id=?', current_user.id, current_user.id).where(game_times: {id: nil}).order(:id).each do |game| %>
        <%= render partial: 'row', locals: { game: game } %>
    <% end %>
<% end %>