<div class="container">
    <h1>Games</h1>
    <h2><%= @season.name %> Season</h2>
    <div id="games-card" class="card">
        <div class="card-body">
            <div class="text-center">
                <%= link_to 'Show Only My Games', season_my_games_path(@season) %>
            </div>
            <table class="table games">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th class="d-none d-md-table-cell"></th>
                        <th></th>
                        <th class="d-none d-md-table-cell"></th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'game_rows' %>
                </tbody>
            </table>
        </div>
    </div>
</div>