<div class="container">
    <h1>My Games</h1>
    <h2><%= @season.name %> Season</h2>
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <%= link_to 'View All Games', season_games_path(@season) %>
            </div>
    <table class="table games">
        <thead>
            <tr>
                <th class="text-center">Away</th>
                <th class="d-none d-md-table-cell"></th>
                <th></th>
                <th class="d-none d-md-table-cell"></th>
                <th class="text-center">Home</th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'my_game_rows' %>
        </tbody>
    </table>
    </div>
    </div>
</div>