// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');

body {
    background-color: #F8F9FC;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    h1, h2, h3, h4, h5 {
        font-family: 'Sintony', sans-serif;
        font-weight: bold;
    }
    a {
        color: #4f46e5
    }
}
h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.purple {
    color: #4f46e5;
}

.btn-link {
    display: block;
}

.table {
    td {
        height: 50px;
        vertical-align: middle;
    }
    &.games {
        td {
            height: 80px;
            padding-top: 30px;
            padding-bottom: 30px;
            &.team-name {
                padding: 0;
                line-height: 1.3;
                a {
                    text-decoration: none;
                }
            }
        }
        span {
            padding: 5px 10px;
            border-radius: 50%;
        }
        .won {
            span {
                color: #4f46e5;
                background-color: #eee;
            }
        }
        .week-counter {
            color: #fff;
            font-size: 24px;
            background-color: #212529;
            td {
                padding: 10px 5px;
            }
        }
    }
}

.beta {
    margin-right: 20px;
}

.navbar {
    margin-bottom: 50px;
    .navbar-brand {
        max-width: 50px;
        img {
            width: 100%;
        }
    }
    color: #fff;
}

#dashboard {
    h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
}

.card {
    margin-bottom: 30px;
    border: 1px solid #dcdcdc;
    padding: 5px 10px;
    .card-title {
        margin-bottom: 20px;
        font-size: 24px;
    }
    .table {
        margin-bottom: 30px;
    }
}

.logout {
    margin-top: 100px;
    margin-bottom: 50px;
}

.game-status {
    font-size: 14px;
    color: #444;
    p {
        margin-bottom: 0;
    }
}

#next-game {
    overflow: hidden;
    padding: 0;
    background-color: #212529;
    .card-body {
        padding: 0;
    }
    .card-title {
        color: #fff;
    }
    .middle {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .row {
        background-position: center !important;
        background-size: cover !important;
    }
    .team {
        // margin: 0 auto;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border-radius: 15px;
        // margin-top: 30px;
        // margin-bottom: 30px;
    }
    .team-name {
        font-family: 'Sintony', sans-serif;
        color: #ffcb00;
        font-size: 36px;
        letter-spacing: 2px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .vs {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        line-height: 1;
        // border: 2px solid #000;
        border-radius: 50%;
        padding: 10px;
        display: inline-block;
        box-sizing: border-box;
    }
    .home-away {
        display: block;
        color: #fff;
    }
    .no-games {
        padding: 30px;
        p {
            margin-bottom: 0;
        }
    }
    .next-game-status p {
        color: #ffcb00;
        i {
            margin-left: 10px;
            color: #ffcb00;
            font-size: 12px;
            vertical-align: top;
            margin-top:7px;
        }
    }
}

.reduced-width {
    max-width: 800px;
    margin: 0 auto;
    
}

.btn.btn-primary {
    background-color: #4f46e5;
}

#logo {
    font-weight: bold;
    font-family: 'Sintony', sans-serif;
    color: #4f46e5;
    font-size: 32px;
    margin-left: 30px;
}

.next-game-status {
    p {
        color: #000;
        margin-bottom: 0;
        font-size: 18px;
    }
}

.edit-icon {
    font-size: 12px;
    margin-left: 5px;
    margin-top: 4.5px;
    vertical-align: top;
}

@media only screen and (max-width: 600px) {
    #next-game {
        .middle {
            padding:20px;
            p {
                color: #fff;
                margin-bottom: 0;
            }
        }
        .team {
            border-radius: 5px;
            overflow: hidden;
            &:last-of-type {
                padding-bottom: 50px;
            }
        }
        .next-game-status {
            p {
                color: #fff;
            }
        }
    }
    #next-game-button {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.btn-other {
    background-color: #ffcb00;
    color: #000;
    &:hover {
        color: #fff;
    }
}

footer {
    background-color: #212529;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #4f46e5;
        }
    }
}

html, body {
    height: 100%;
}
body {
display: flex;
flex-direction: column;
}
#ui {
flex: 1 0 auto;
}
footer {
flex-shrink: 0;
margin-top: 50px;
}

.game-photo {
    max-width: 800px;
    max-height: 500px;
}

.card.standings, .card.overflow-scroll {
    overflow: scroll;
}

#latest-results {
    .score {
        white-space: nowrap;
    }
}

#games-card {
    .card-body {
        padding-left: 0;
        padding-right: 0;
    }
}

.btn-calendar {
    width: 100%;
    max-width: 125px;
    background-color: #212529;
    color: #fff;
}